*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#title{
    position: relative;
    margin: 0 0 50px 0;
    font-size: 20px;
    font-weight: bold;
}

.main{
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.card{
   
    height: 150px;
    width: 70vw;
    /* border: 1px solid black; */
    display: flex;
    box-shadow: #808080 5px 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card img{
    width: 100px;
    height: 100px;
    margin: 30px;
    box-shadow: #808080 5px 5px 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.card .card-title{
    font-size: 20px;
    margin: 0px;
    color: #fe8801;
    margin-top: 30px;
}

.card .card-text{
    margin: 0px 40px 5px 0 ;
    
}


.card .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    /* justify-content: center; */
}

.card #button{
    display: flex;
    margin: 0  0 0 30px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #fe8801;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.price{
    color: #0059ff;
    font-size: 18px;
    cursor: pointer;
}

