*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

:root {
  --color-overlay: rgba(0, 0, 0, 0.9);
  --color-white: #ffffff;
  --color-red: rgb(246, 28, 28);
  --color-primary:#ffa500 ;
  --color-secondary-black: #101013;
  --color-secondary-blue-link:#e65800;
}
body {
  /* background: linear-gradient(45deg, var(--color-primary), var(--color-secondary-blue-link)); */
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card {
  display: flex;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 4px var(--color-secondary-black);
}


.card .container-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  color: #ffffff;
  background: linear-gradient(180deg, var(--color-primary), var(--color-secondary-blue-link));
  padding-left: 2rem;
  padding-right: 3rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card .container-label span {
  background-color: #ffffff;
  margin-top: 2px;
  height: 3px;
  width: 48px;
}
.card .container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
}
.card .container-icon .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(180deg, var(--color-primary), var(--color-secondary-blue-link));
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.card .container-icon .circle i {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 900;
}
.card .container-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-primary);
  /* background: #e0e0e0; */
  padding: 5rem;
  width: 450px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card .container-form label {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.card .container-form input {
  color: rgb(255, 132, 0);
  background-color: transparent;
  padding: 8px;
  border: none;
  border-bottom: 1px solid rgb(219, 168, 0);
  width: 100%;
}

.card .container-form input:focus {
  border-color: var(--color-primary);
  outline: 0;
}
.card .container-form input::placeholder {
  color: rgb(233, 204, 157);
}
.card .container-form #email {
  margin-bottom: 1.75rem;
}
.card .container-form #password {
  margin-bottom: 1.75rem;
}
.card .container-form .change-password {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-top: 0.75rem;
}
.card .container-form .change-password a {
  color: var(--color-primary);
}
.card .container-form button {
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(180deg, var(--color-primary), var(--color-secondary-blue-link));
  padding: 12px 16px;
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .card {
    flex-direction: column;
    width: 100%;
  }
  .card::before {
    display: none;
  }
  .card::after {
    display: none;
  }
  .card .container-label {
    padding: 3rem 2rem;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
  .card .container-icon {
    display: none;
  }
  .card .container-form form {
    padding: 3rem 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    width: auto;
  }
  h1{
    margin-bottom: 10rem;
  }
}


h1{
  color: var(--color-primary);
  text-align: center;
  margin-bottom: -3rem;
}